:root {
  --bs-body-bg: #000 !important;
  --bs-primary: #9f3647 !important;
  --bs-secondary-color: #fff !important;
  --bs-tertiary-bg: #161616 !important;
  --bs-font-sans-serif: 'Nunito', sans-serif !important;
}

body {
  background-color: var(--bs-body-bg);
}

* {
  box-sizing: border-box;
  font-size: auto;
}

html {
  scroll-behavior: smooth;
}

head {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 * {
  color: var(--bs-secondary-color) !important;
  text-align: center;

}

p {
  color: var(--bs-secondary-color) !important;
  text-wrap: balance;
}



.featurette-divider {
  border: 2px solid #9f3647 !important;
}



.visible-scrollbar,
.invisible-scrollbar {
  display: block;

  overflow: auto;
}
.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}




/*  ------------------------------------
    |             H O M E              |
    ------------------------------------  */


.home-hero {
  background-image: url(Archivos/Portada\ LinkedIn\ \(4\).jpg);
  background-size: cover;
  background-position: top center;
  transform: scale(1) rotateX(0);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}



.home {
  background-image: url(Archivos/Portada.jpg);
  background-size: cover;
  background-position: center;
  /* -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-transition-delay: 400ms;
    transition-delay: 400ms; */
}

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.home h1 {}

.home .dancing {
  color: var(--bs-body-bg) !important;
  background-color: var(--bs-primary);
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  /* transform: translateY(-175px) rotate(-45deg); */
  z-index: 2;
  padding: 8px 15px;
  display: inline-block;
  border-radius: 5px;


}

.home .dancing span {
  padding: 8px 15px;
  padding-right: 10px;
  display: inline-block;
  border-radius: 5px;
  background-color: var(--bs-secondary-color);
}

.home .open-to-work {
  color: var(--bs-body-bg);
  font-size: 10px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  /* transform: translateY(-175px) rotate(-45deg); */
  z-index: 2;
}

.home .open-to-work span {
  padding: 8px 15px;
  padding-right: 10px;
  display: inline-block;
  border-radius: 5px;
}

.home .social-media a {
  display: inline-block;
  font-size: 20px;
  line-height: 2.7;
  font-weight: 700;
  color: var(--bs-secondary-color) !important;
  transition: color 0.3s ease-in;
}

.home .social-media a:hover {
  color: var(--bs-primary);
}

.home .social-media span {
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.home .social-media span:hover {
  color: var(--bs-primary);
}

.home .social-media span:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: currentColor;
}

@media screen and (max-width: 580px) {

  .home .dancing,
  .home .open-to-work,
  .home .social-media a {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {

  .home .dancing,
  .home .open-to-work,
  .home .social-media a {
    font-size: 15px;
  }
}

@media (max-width: 967px) {
  .home h1 {
    font-size: 11vw;
  }

  .home .social-media {
    font-size: 18px;
  }

  .home .social-media span {
    margin-left: 10px;
    margin-right: 10px;
  }
}



/* .container-fluid form input  {
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 6px solid;
  background-color: var(--bs-secondary-color) !important;
  border-radius: 0;
  color: #222;
  font-family: var(--bs-font-sans-serif) !important;
  font-size: 20px;
  font-weight: 400;
  outline: none;
  padding: 16px 15px;
  transition-property: border, padding;
  transition-duration: 500ms;
  transition-timing-function: ease;
  width: 100%;
} */


.grid {
  position: relative;
  overflow: hidden;
}

.grid h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.grid img {
  transition: filter 0.3s ease-in-out;
  outline: none;
  border-radius: 10px;
}

.grid:hover img {
  filter: blur(5px);
}

.grid:hover h3 {
  opacity: 1;
}


/* SEARCH BAR */







/*  ----------------------------------------
    |             F O O T E R              |
    ----------------------------------------  */

footer {
  background-color: var(--bs-primary);
  font-family: var(--bs-font-sans-serif);
}