:root {
    --bs-body-bg: #181419 !important;
    --bs-primary: #9f3647 !important;
    --bs-secondary-color: #fff !important;
    --bs-font-sans-serif: 'Nunito', sans-serif !important;
}

body {
    font-family: var(--bs-font-sans-serif) !important;
    background-image: url('https://img.freepik.com/vector-premium/patron-cine-fondo-transparente-simbolos-produccion-cine-peliculas-ilustracion-fondo-entretenimiento-camara-pelicula-produccion-cine-vectorial_80590-13282.jpg');
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

head {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 * {
    text-align: center;
    color: var(--bs-secondary-color) !important;
    font-family: var(--bs-font-sans-serif) !important;
}

p {
    color: var(--bs-secondary-color) !important;
    text-wrap: balance;
}

hr {
    border: 2px solid var(--bs-primary) !important;
}










.card {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: block;
    margin-bottom: 10px;
}

.form-control input[type="email"],
.form-control input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control input[type="email"]:focus,
.form-control input[type="password"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}







.card {
    background-color: rgb(42, 42, 42) !important;
    width: 25rem ;
    height: 30rem;
    margin: 0 auto;
}

.registerForm {
    margin: 100px 0 100px 0;
    width: 300px; 
}



.card h1 {
    font-weight: bold;
    text-align: left;
}

.card .registerForm label {
    color: var(--bs-primary);
}

.card .registerForm input {
    border-width: 2px;
    border-color: var(--bs-primary);
    background-color: rgb(51, 51, 51);
    color: var(--bs-secondary-color);
}

.card .registerForm .logIn {
    width: 100%;
    height: 3.2em;
    font-size: medium;
    border: none;
    color: var(--bs-secondary-color);
    background-color: var(--bs-primary);
}

.card .registerForm .signUp {
    text-decoration: none;
    color: rgb(120, 120, 120);
}

/* .card .registerForm .btn {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--bs-primary);
    color: var(--bs-secondary-color);
    cursor: pointer;
} */